{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop About page...</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <p class="col-8">
                        <br/><br/>
                        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus vel augue vestibulum pulvinar. Fusce efficitur neque vel tincidunt eleifend. Pellentesque pretium, mi id rutrum iaculis, leo ante tincidunt ex, at tempus orci ante at neque. Vestibulum at turpis iaculis neque aliquam convallis. Sed tincidunt nisi at risus tempor ultricies. Integer nunc eros, luctus nec tellus ac, eleifend fringilla magna. Aenean sit amet orci vulputate, finibus enim sed, bibendum magna. Suspendisse tempus, justo vel laoreet feugiat, lectus lacus vulputate magna, sed feugiat dui neque dapibus nulla. Proin at erat sit amet dui dictum eleifend.
                        <br/><br/>
                        Sed sed neque lacinia, ultricies libero sed, eleifend urna. Nullam nisl velit, sagittis vel lectus quis, placerat dictum purus. Suspendisse dapibus varius congue. Donec semper tempor sem ornare fringilla. Praesent at porttitor velit, sit amet sollicitudin dolor. Vestibulum laoreet nec lectus vel maximus. Phasellus quis tempus justo. Aliquam feugiat nibh lectus, in rhoncus odio tincidunt in. Aliquam faucibus lobortis dolor sit amet laoreet. Pellentesque quis eleifend diam. Sed nec venenatis lectus. Curabitur odio nulla, dictum vitae quam ut, dapibus fringilla diam. Nulla at ultrices arcu. Vestibulum porta velit et risus molestie, aliquam sodales quam ultrices. Mauris euismod est massa, ut rhoncus sem consectetur at. Cras tristique maximus tortor eget tempus.
                        <br/><br/>
                        Suspendisse et elementum lorem, quis convallis tortor. Nam vel lacinia magna. Nulla aliquet odio dictum ultricies condimentum. Morbi sagittis tortor quis tellus rhoncus, sit amet consequat sem ultricies. In sodales consequat imperdiet. Quisque sed mi in augue varius vehicula. Cras et risus vitae libero faucibus ultricies eu vel orci. Aliquam dictum ornare nisi non rhoncus.
                        <br/><br/>
                        Aenean sodales augue nec dolor laoreet sodales. Praesent nibh elit, tincidunt sit amet turpis ac, tempus imperdiet libero. Nam odio nisl, viverra vel cursus at, egestas id neque. Integer in augue non metus congue lacinia vel vel sem. Pellentesque vestibulum urna ut convallis imperdiet. Mauris fermentum libero eget lorem efficitur tempor. Vivamus dolor mi, commodo nec luctus nec, tincidunt ut turpis. Proin eu urna eu metus lacinia dignissim sit amet id risus. Vestibulum ac risus sodales, tempus ligula sit amet, convallis turpis. Nunc iaculis mauris nibh, non varius orci fringilla vitae. Sed tempor tempus ex. Donec molestie rutrum nisi, quis lacinia dolor aliquam eu. Donec faucibus orci eget orci commodo, a ullamcorper libero blandit. Integer ullamcorper, sem nec cursus laoreet, odio nulla rhoncus orci, a porttitor enim nisi sit amet eros.
                        <br/><br/>
                        Phasellus a viverra erat. Nunc viverra enim vel nulla vulputate, sit amet suscipit est accumsan. Suspendisse id massa in tortor euismod faucibus et in neque. Fusce vestibulum consequat varius. Quisque pulvinar enim nec diam placerat condimentum. Integer accumsan porta elit. Morbi vestibulum arcu non laoreet volutpat. Nullam ornare facilisis faucibus. In hac habitasse platea dictumst. Vestibulum facilisis mi ac porttitor sollicitudin. Integer euismod aliquet neque at congue. Quisque blandit turpis et aliquam placerat. Morbi nec suscipit justo, at cursus dui. Pellentesque sagittis sem vel auctor elementum. Integer ut magna at ante semper consectetur eu quis lacus. Phasellus commodo urna non mauris pretium, quis condimentum urna interdum.
                    </p>
                    <br/><br/>
                    </div>        
                </center>
            </div>
        </div>

{% endblock %}